@-webkit-keyframes fadeyo {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  99% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  100% {
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeyo {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  99% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  100% {
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes fadeyoReverse {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  99% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeyoReverse {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  99% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: none;
    transform: none; } }
.u-clearFix:after {
  clear: both;
  content: '';
  display: table; }

* {
  box-sizing: border-box; }

html,
body {
  min-height: 100%;
  overflow: hidden; }

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom, #000822 0%, #035d82 100%);
  padding: 0;
  color: #fff;
  overflow: hidden; }

body,
h2,
p {
  margin: 0; }

h2 {
  font-weight: 600; }

.HeadsUp-slider {
  overflow: hidden; }
.HeadsUp-page {
  width: 100%;
  position: absolute;
  height: 100%;
  font-size: 16px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform .5s .2s;
  padding: 1em; }
  .HeadsUp-page:nth-child(1) {
    left: 0; }
  .HeadsUp-page:nth-child(2) {
    left: 100%; }
  .HeadsUp-page:nth-child(3) {
    left: 200%; }
  .HeadsUp-page:nth-child(4) {
    left: 300%; }
  .HeadsUp-page:nth-child(5) {
    left: 400%; }
  .HeadsUp-page--slide100 .HeadsUp-page {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .HeadsUp-page--slide200 .HeadsUp-page {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0); }
  .HeadsUp-page--slide300 .HeadsUp-page {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0); }
  .HeadsUp-page--slide400 .HeadsUp-page {
    -webkit-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0); }
.HeadsUp-title {
  text-transform: uppercase;
  color: #fff;
  padding-bottom: .3em;
  border-bottom: 1px solid #fff;
  margin-bottom: 1em;
  font-size: 1.75em; }
.HeadsUp-radio {
  display: none; }
  .HeadsUp-radio:checked + .HeadsUp-labelButton {
    background: #fff;
    color: #035D82; }
    .HeadsUp-radio:checked + .HeadsUp-labelButton:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: 1px solid #035D82;
      border-radius: 50px; }
.HeadsUp-labelButton {
  display: block;
  position: relative;
  padding: 20px 25px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff; }
  .HeadsUp-labelButton-title {
    font-size: 1.75em;
    font-weight: 600; }
  .HeadsUp-labelButton-subtitle {
    font-size: .9em; }
  .HeadsUp-labelButton--first {
    margin-bottom: 1em; }
  .HeadsUp-labelButton--number {
    width: 30%;
    margin: 0 1.6% 1em;
    float: left; }
.HeadsUp-button {
  position: relative;
  display: block;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  padding: 20px 25px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 1em;
  cursor: pointer; }
  .HeadsUp-button:focus, .HeadsUp-button:active {
    outline: none;
    background: #fff;
    color: #035D82; }
    .HeadsUp-button:focus:after, .HeadsUp-button:active:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: 1px solid #035D82;
      border-radius: 50px; }
.HeadsUp-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 1em 0;
  border-radius: 3px;
  border: 0;
  -webkit-appearance: none; }
.HeadsUp-card {
  width: calc(50% - 1em);
  position: absolute;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 14px;
  -webkit-transform-origin: 50% 51%;
  transform-origin: 50% 51%; }
  .HeadsUp-card.is-hovered {
    z-index: 2;
    -webkit-transition: transform .5s;
    transition: transform .5s; }
    .HeadsUp-card.is-hovered .HeadsUp-card-inner {
      -webkit-animation: fadeyo .3s .5s forwards;
      animation: fadeyo .3s .5s forwards; }
      .HeadsUp-card.is-hovered .HeadsUp-card-inner .HeadsUp-card-front {
        opacity: 0;
        transition: opacity 0s .5s; }
      .HeadsUp-card.is-hovered .HeadsUp-card-inner .HeadsUp-card-back {
        z-index: 4;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-filter: inherit; }
      .HeadsUp-card.is-hovered .HeadsUp-card-inner .HeadsUp-card-front:before,
      .HeadsUp-card.is-hovered .HeadsUp-card-inner .HeadsUp-card-back:before {
        border-color: transparent; }
  .HeadsUp-card-body {
    overflow: auto;
    height: calc(100% - 8.2em);
    padding-bottom: 2em;
    box-sizing: border-box; }
  .HeadsUp-card-inner, .HeadsUp-card-front, .HeadsUp-card-back {
    height: 200px; }
  .HeadsUp-card-inner {
    border-radius: 10px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    -webkit-animation: fadeyoReverse .3s 0s forwards;
    animation: fadeyoReverse .3s 0s forwards; }
  .HeadsUp-card-front, .HeadsUp-card-back {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
    .HeadsUp-card-front:after, .HeadsUp-card-back:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: calc(100% - 20px);
      border: 8px solid white;
      box-sizing: border-box;
      border-radius: 5px;
      background: #0D1222;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      z-index: 2; }
    .HeadsUp-card-front:before, .HeadsUp-card-back:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      z-index: 2; }
  .HeadsUp-card-front {
    z-index: 2;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    background: green; }
    .HeadsUp-card-front-text {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
      z-index: 3; }
  .HeadsUp-card-back {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 30px;
    transition: transform 0s .8s;
    background: red; }
    .HeadsUp-card-back-text {
      position: relative;
      z-index: 3;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
.HeadsUp-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #0D1222;
  height: 6em;
  line-height: 6em;
  text-align: center;
  font-size: 12px;
  z-index: 99999;
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px); }
.HeadsUp-pagination {
  display: none;
  padding: 0 1em; }
  .HeadsUp-pagination.is-active {
    display: block; }
  .HeadsUp-pagination-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    transition: background .5s .2s; }
  .HeadsUp-pagination-previous {
    position: absolute;
    left: 0;
    padding: 0 1em;
    height: 100%;
    width: 20%; }
    .HeadsUp-pagination-previous:before {
      content: '\2190';
      font-size: 20px; }
  .HeadsUp-pagination--1 .HeadsUp-pagination-item--1 {
    background: #fff; }
  .HeadsUp-pagination--2 .HeadsUp-pagination-item--2 {
    background: #fff; }
  .HeadsUp-pagination--3 .HeadsUp-pagination-item--3 {
    background: #fff; }
  .HeadsUp-pagination--4 .HeadsUp-pagination-item--4 {
    background: #fff; }

.HeadsUp-card:nth-child(1) {
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0); }

.HeadsUp-card:nth-child(2) {
  -webkit-transform: translate3d(100%, 0%, 0);
  transform: translate3d(100%, 0%, 0); }

.HeadsUp-card:nth-child(3) {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.HeadsUp-card:nth-child(4) {
  -webkit-transform: translate3d(100%, 100%, 0);
  transform: translate3d(100%, 100%, 0); }

.HeadsUp-card:nth-child(5) {
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0); }

.HeadsUp-card:nth-child(6) {
  -webkit-transform: translate3d(100%, 200%, 0);
  transform: translate3d(100%, 200%, 0); }

.HeadsUp-card:nth-child(7) {
  -webkit-transform: translate3d(0, 300%, 0);
  transform: translate3d(0, 300%, 0); }

.HeadsUp-card:nth-child(8) {
  -webkit-transform: translate3d(100%, 300%, 0);
  transform: translate3d(100%, 300%, 0); }

.HeadsUp-card:nth-child(9) {
  -webkit-transform: translate3d(0, 400%, 0);
  transform: translate3d(0, 400%, 0); }

.HeadsUp-card:nth-child(10) {
  -webkit-transform: translate3d(100%, 400%, 0);
  transform: translate3d(100%, 400%, 0); }

.HeadsUp-card:nth-child(11) {
  -webkit-transform: translate3d(0, 500%, 0);
  transform: translate3d(0, 500%, 0); }

.HeadsUp-card:nth-child(12) {
  -webkit-transform: translate3d(100%, 500%, 0);
  transform: translate3d(100%, 500%, 0); }

.HeadsUp-card:nth-child(13) {
  -webkit-transform: translate3d(0, 600%, 0);
  transform: translate3d(0, 600%, 0); }

.HeadsUp-card:nth-child(14) {
  -webkit-transform: translate3d(100%, 600%, 0);
  transform: translate3d(100%, 600%, 0); }

/*# sourceMappingURL=style.css.map */
